<footer class="main-footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo">
                    <h4>BTH545</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="copyrights">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2020. All rights reserved.</p>
                </div>
                <div class="col-md-6 text-end">
                    <p>For inquiries, contact me at <a href="mailto:jacky.lifere@gmail.com">jacky.lifere@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>