<section class="contact">

    
    <div class="d-flex justify-content-center ">
        <h1> - Look for me at - </h1>
    </div>
    <div class="d-flex align-items-center flex-column">
        <div class="mx-auto"><p><img class="icon" src="../../assets/images/svg/mail-svgrepo-com.svg"> jacky.lifere@gmail.com</p></div>
        <div class="mx-auto"><p><img class="icon" src="../../assets/images/svg/phone-svgrepo-com.svg"> Not Available </p></div>
        <div class="mx-auto"><p><img class="icon" src="../../assets/images/svg/github-repo-git-octocat-svgrepo-com.svg"> <a
            href="https://github.com/ElusoryPaths">ElusoryPaths</a> </p></div>
        <div class="mx-auto"><p><img class="icon" src="../../assets/images/svg/linkedin-svgrepo-com.svg"> Not Available </p></div>
    </div>
</section>