<div>
    <div class="post-details">
        <div class="post-meta d-flex justify-content-between">
            <div class="date meta-last">{{post.date | date:'mediumDate'}}</div>
        </div>
        <a [routerLink]="['/blog', post.id]">
            <h3 class="h4">{{post.title}}</h3>
        </a>
        <div class="text-muted" [innerHtml]="post.body[0]"></div>
        <footer class="post-footer d-flex align-items-center">
            <a routerLink="/about" class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="/assets/img/user.svg" alt="..." class="img-fluid"></div>
                <div class="title"><span>{{post.author}}</span></div>
            </a>
            <div class="date"><i class="icon-clock"></i> {{post.date | date:'mediumDate'}}</div>
        </footer>
    </div>
</div>