
<section class="blogPage">
    <div class="container">
        <div class="row">
            <h2>Web usability</h2>
            <p>There are a lot of factors that affect web usability, one of the main things affecting it being its multimedia elements<br>
            When creating webpages, we have to consider how we want to create and place media elements such as text, images, sound, video, and etc.<br>
            We need to account for everyone, meaning the physically impaired as well as everyone else.<br>
            So when we create new elements and add it to the web, we need to stop and think: Is this a good design?</p>

            <p>We cannot ignore the impact that web usability has, not only does it make it easier for users to user your site, but
            it directly correlates to how your website may look. <br>
            Web usability is one of the most important factors of any website, it will decide whether a user keeps using your
            webpage or if they will move on to a different site. <br>
            Given the choice between, lets a blog with images and text vs a blog with only text. You would have to strain your eyes
            trying to read the wall of text while an image can help you visualize and seperate the text to help you understand it better.
            </p>

            <p>One way to make sure your site is fine is actually using it yourself! Make sure that you can stand using it before trying to
            make others use it.
            </p>
        </div>
        
        <div class="row">
            <h4></h4>
        </div>
    </div>
</section>