
<section class="blogPage">
    <div class="container">
        <div class="row">
            <h2>Web usability</h2>
            <p>There are a lot of factors that affect web usability, the main things affecting it being its multimedia elements</p>
            <p>When creating webpages, we have to consider how we want to create and place media elements such as text, images, sound, video, and etc.</p>
            <p>We need to account for everyone, meaning the physically impaired as well as everyone else.</p>
            <p>So when we create new elements and add it to the web, we need to stop and think; Is this a good design?</p>
            
        </div>
        
        <div class="row">
            <h4></h4>
        </div>
    </div>
</section>